<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>128959216453-5trhvjv0p2e1of8r5t1j391efhmdr10p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128959216453-5trhvjv0p2e1of8r5t1j391efhmdr10p</string>
	<key>API_KEY</key>
	<string>AIzaSyBeULkAhtVtP1lgX8asM9Mv7LlRDc1QkBE</string>
	<key>GCM_SENDER_ID</key>
	<string>128959216453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>start.MatchingApp</string>
	<key>PROJECT_ID</key>
	<string>matchingapp-90758</string>
	<key>STORAGE_BUCKET</key>
	<string>matchingapp-90758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128959216453:ios:806a0bcdb92caa31b15c2c</string>
</dict>
</plist>